.fa-check-circle{
    font-size: small;
    color: green;
}
.fa-times-circle{
    font-size: small;
    color: red;
}
.fa-ban{
    font-size: small;
    color: gray;
}
.lni-close{
    
    font-size: 5px;
}
.modal-header{
    background-color: rgb(29, 29, 105);
}
.modal-title{
    text-align: center;
    font-size: x-large;
}